h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #333;
}

.resh-container {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    width: 70%;
    height: 1300px;
    margin: 0 auto;
}

.search-box{
    /* border: 2px solid red; */
    width: 63%;
    margin: 4px auto;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

#input_search{
    border: 2px solid #333;
    display: inline-block;
    width: 70%;
    margin: 0 5px;
    padding: 4px 5px;
}

.search-btn{
    border: 2px solid #333;
    border-radius: 10%;
    display: inline-block;
    padding: 2px 2px;
}

.menu-nav{
    border-bottom: 2px solid #333;
    display: flex;
}

a{
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    outline: 0;
    width: 10%;
    height: 50px;
    margin: 10px 3%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-btn1, #menu-btn2, #menu-btn3, #menu-btn4{
    background-color: white;
    border: 0;
}

.add-box{
    /* border: 2px solid #333; */
    margin-top: 20px;
    height: 86%;
}

form{
    margin-top: 30px;
    margin-left: 10%;
}

#input_title{
    width: 95%;
}

#input_ingredient{
    width: 95%;
    height: 100px;
}

#input_contents{
    width: 95%;
    height: 700px;
}